@mixin baseFont {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  margin: 0;

  @include weightFont();
}

@mixin weightFont {
  &--regular {
    font-weight: 400 !important;
  }

  &--medium {
    font-weight: 500 !important;
  }

  &--bold {
    font-weight: 600 !important;
  }
}

@mixin text-main {
  @include baseFont();

  font-size: 16px;
  line-height: 125%;
}

@mixin caption {
  @include baseFont();

  font-size: 12px;
  line-height: 133%;
}

@mixin text {
  @include baseFont();

  font-size: 14px;
  line-height: 129%;
}
